body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.left_side {
  margin-top: 10vh;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 4.5rem;
}

.landing-text {
  font-weight: 700;
  color: #7E7E7E;
}

.nav-style .NavLink {
  text-decoration: none;
}

.control-panel {
  /* background-color: #f2f2f2; */
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.cv-preview {
  min-height: 50vh;
  /* width: 55vw; */
}

.general-info-section {
font-family: 'Inter', sans-serif;
}

.textName {
  font-weight: 800;
  font-size: 30px;
}

.textPosition {
    font-weight: 600;
    font-size: 17px;
}

.textAddress, .textEmail, .textPhone, .textWebsite, .textGithub, .textLinkedin {
  font-weight: 300;
  font-size: 13px;
  color: #696969;
}

.textSummary {
  font-weight: 300;
  font-size: 14px;
  color: #696969;
  text-align: left;
}

.section-titles {
  font-weight: 800;
  font-size: 15px;
  color: #3c3c3c;
  text-align: left;
  text-transform: uppercase;
}

.textCompany  {
  font-weight: 600;
  font-size: 16px;
  color: #1b1b1b;
  text-align: left;
  text-transform: capitalize;
}

.work-position, .work-location, .work-location-group, .work-responsibilities {
  font-weight: 400;
  font-size: 14px;
  color: #696969;
  text-align: left;
  text-transform: capitalize;
}

.work-responsibilities {
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  color: #696969;
  text-align: left;
  text-transform: capitalize;
}